@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap");
root {
  --primary: #262626;
  --secondary: #e83330;
  --tertiary: #e0e0e2;
}

.font-tiro-bangla {
  font-family: "Tiro Bangla", serif;
  font-style: normal;
}

.section-title {
  font-family: "SolaimanLipi-Bold", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
  line-height: 50px;
  color: var(--primary);
  margin-bottom: 60px;
}

.section-title.alt {
  font-size: 34px;
  line-height: normal;
  margin-bottom: 0;
}

@media only screen and (max-width: 576px) {
  .section-title {
    font-size: 28px;
    line-height: 38px;
  }
}
