/* @import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"); */

/* @import url("https://fonts.cdnfonts.com/css/solaimanlipi"); */
/* @import url("https://fonts.maateen.me/solaiman-lipi/font.css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery-box {
  border: 2px solid red;
  border-radius: 8px;
}

@font-face {
  font-family: "SolaimanLipi-Bold";
  src: url("./fonts/SolaimanLipi-Bold.ttf");
}
@font-face {
  font-family: "SolaimanLipi-Normal";
  src: url("./fonts/SolaimanLipi-Normal.ttf");
}

.my-font {
  font-family: "SolaimanLipi-Bold";
  letter-spacing: 1px;
  font-size: 46px;
  margin-bottom: 20px;
  font-weight: 500;
}

.font-solaimanlipi-bold {
  font-family: "SolaimanLipi-Bold", sans-serif;
}
